body {
    margin: 0;
    background-color: rgb(124, 124, 124);
    font-family: "Poppins", sans-serif;
}

loading-screen {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#loading-bar {
    width: 0%;
    height: 30px;
    background-color: rgb(150, 150, 150);
}

main-page {
    display: flex;
}

product-menu {
    flex: 1 1 30%;
    background-color: white;
    width: 25%;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

product-menu-total #container3D {
    flex: 1 1 70%;
}

#container3D canvas {
    width: 100% !important;
    height: 100% !important;
    /* position: absolute; */
    top: 0;
    left: 0;
}

product-menu .dropdown {
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

product-menu label,
product-menu select,
product-menu .total-price,
product-menu .place-order-btn,
.order-confirmation button {
    font-size: 22px;
}

product-menu .total-price {
    padding: 0 .5rem;
    margin: 0;
    font-weight: bold;
}

product-menu .place-order-btn {
    margin: .5rem;
}

.order-confirmation {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(155, 155, 155, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-confirmation div {
    background-color: white;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.order-confirmation div ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.order-confirmation div li:last-child {
    font-weight: bold;
}

.order-confirmation div li {
    display: flex;
    justify-content: space-between;
}